apiVersion: apps/v1
kind: Deployment
metadata:
  name: petshop-deployment
spec:
  selector:
    matchLabels:
      app: petshop
  replicas: 10
  template:
    metadata:
      labels:
        app: petshop
    spec:
      containers:
      - name: petshop
        image: vnom1985/petshop2
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: "200m"